# Allow the servers to work behind Bungee.
server_behind_bungeecord: true
online_mode: false

# Messages to display to players.
messages:
  motd: "A Minecraft server"
  shutdown: "Server closed"
  whitelist: "You are not whitelisted on this server!"
  unknown_command: 'Unknown command. Type "/help" for help.'
  server_full: "The server is full!"
  outdated_client: "Outdated client! Please use {0}"
  outdated_server: "Outdated server! I'm still on {0}"
  restart: "Server is restarting"
  authentication_servers_down: ''
  must_join_through_proxy: '&cYou have to join through the proxy.'
  too_many_packets: "&cSent too many packets"
  connection_throttle: "Connection throttled! Please wait before reconnecting."
  flying_player: "Flying is not enabled on this server"
  flying_vehicle: "Flying is not enabled on this server"
  no_permission: |-
    &cI'm sorry, but you do not have permission to perform this command.
    Please contact the server administrators if you believe that this is in error.
